body {
    font-family: Arial;
    text-align: center;
}

.container {
    margin-top: 30px;
}

img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin-bottom: 20px;
    transition: 0.3s;
}

.section {
    margin: 15px;
}

h3 {
    cursor: pointer;
    color: blue;
}

.hidden {
    display: none;
}

button {
    padding: 10px 20px;
    cursor: pointer;
}